<nb-layout>
  <nb-layout-column class="left-layout">
    <div class="slider">
      <img src="../../../assets/login/1.jpg" class="img-responsive" *ngIf="mCurrent==1"/>
      <img src="../../../assets/login/2.jpg" class="img-responsive" *ngIf="mCurrent==2"/>
      <img src="../../../assets/login/3.jpg" class="img-responsive" *ngIf="mCurrent==3"/>
      <img src="../../../assets/login/4.jpg" class="img-responsive" *ngIf="mCurrent==4"/>
      <div class="_rad_bottom">
        <div class="_rad_crcl" (click)="setCurrent(1)" [ngClass]="{'sel':mCurrent==1}"></div>
        <div class="_rad_crcl" (click)="setCurrent(2)" [ngClass]="{'sel':mCurrent==2}"></div>
        <div class="_rad_crcl" (click)="setCurrent(3)" [ngClass]="{'sel':mCurrent==3}"></div>
        <div class="_rad_crcl" (click)="setCurrent(4)" [ngClass]="{'sel':mCurrent==4}"></div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-column>
    <div style="width: 300px;margin: 0 auto;">
      <img src="../../../assets/login/logo.svg" width="100" style="margin: 0 auto;display: block;" />
      <h1 id="title" class="title">Login</h1>
      <p class="sub-title">Hello! Log in with your email.</p>

      <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
        <p class="alert-title"><b>Oh snap!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
        </ul>
      </nb-alert>

      <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
        <p class="alert-title"><b>Hooray!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
        </ul>
      </nb-alert>

      <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

        <div class="form-control-group">
          <label class="label" for="input-email">Email address:</label>
          <input nbInput fullWidth [(ngModel)]="user.username" #email="ngModel" name="username" id="input-email"
            pattern=".+@.+\..+" placeholder="Email address" fieldSize="medium" shape="round" autofocus
            [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.email.required')"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null">
          <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger" *ngIf="email.errors?.required">
              Email is required!
            </p>
            <p class="caption status-danger" *ngIf="email.errors?.pattern">
              Email should be the real one!
            </p>
          </ng-container>
        </div>

        <div class="form-control-group" style="margin-top: 10px;">
          <span class="label-with-link">
            <label class="label" for="input-password">Password:</label>
            <a class="forgot-password caption-2" routerLink="../request-password" style="display: none;">Forgot Password?</a>
          </span>
          <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
            id="input-password" placeholder="Password" shape="round" fieldSize="medium"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.password.required')"
            [minlength]="getConfigValue('forms.validation.password.minLength')"
            [maxlength]="getConfigValue('forms.validation.password.maxLength')"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
          <ng-container *ngIf="password.invalid && password.touched ">
            <p class="caption status-danger" *ngIf="password.errors?.required">
              Password is required!
            </p>
            <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
              Password should contain
              from {{ getConfigValue('forms.validation.password.minLength') }}
              to {{ getConfigValue('forms.validation.password.maxLength') }}
              characters
            </p>
          </ng-container>
        </div>

        <div class="form-control-group accept-group" style="margin:10px 0;">
          <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
        </div>

        <button nbButton fullWidth status="primary" size="medium" shape="round" [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Log In
        </button>
      </form>

      <section class="another-action" aria-label="Register" style="text-align: center;margin-top: 10px;">
        Don't have an account? <a class="text-link" routerLink="../register">Register</a>
      </section>
    </div>
  </nb-layout-column>
</nb-layout>