<nb-layout>
    <nb-layout-column class="left-layout">
        <div class="slider">
            <img src="../../../assets/login/1.jpg" class="img-responsive" *ngIf="mCurrent==1" />
            <img src="../../../assets/login/2.jpg" class="img-responsive" *ngIf="mCurrent==2" />
            <img src="../../../assets/login/3.jpg" class="img-responsive" *ngIf="mCurrent==3" />
            <img src="../../../assets/login/4.jpg" class="img-responsive" *ngIf="mCurrent==4" />
            <div class="_rad_bottom">
                <div class="_rad_crcl" (click)="setCurrent(1)" [ngClass]="{'sel':mCurrent==1}"></div>
                <div class="_rad_crcl" (click)="setCurrent(2)" [ngClass]="{'sel':mCurrent==2}"></div>
                <div class="_rad_crcl" (click)="setCurrent(3)" [ngClass]="{'sel':mCurrent==3}"></div>
                <div class="_rad_crcl" (click)="setCurrent(4)" [ngClass]="{'sel':mCurrent==4}"></div>
            </div>
        </div>
    </nb-layout-column>
    <nb-layout-column>
        <div style="width: 300px;margin: 0 auto;">
            <img src="../../../assets/login/logo.svg" width="100" style="margin: 0 auto;display: block;" />
            <h1 id="title" class="title">Register</h1>
            <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
                <p class="alert-title"><b>Oh snap!</b></p>
                <ul class="alert-message-list">
                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                </ul>
            </nb-alert>

            <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
                <p class="alert-title"><b>Hooray!</b></p>
                <ul class="alert-message-list">
                    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                </ul>
            </nb-alert>

            <form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

                <div class="form-control-group">
                    <label class="label" for="input-name">Full name:</label>
                    <input nbInput [(ngModel)]="user.fullName" #fullName="ngModel" id="input-name" name="fullName"
                        placeholder="Full name" autofocus fullWidth fieldSize="medium" shape="round"
                        [status]="fullName.dirty ? (fullName.invalid  ? 'danger' : 'success') : 'basic'"
                        [required]="getConfigValue('forms.validation.fullName.required')"
                        [minlength]="getConfigValue('forms.validation.fullName.minLength')"
                        [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
                        [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null">
                    <ng-container *ngIf="fullName.invalid && fullName.touched">
                        <p class="caption status-danger" *ngIf="fullName.errors?.required">
                            Full name is required!
                        </p>
                        <p class="caption status-danger"
                            *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
                            Full name should contains
                            from {{getConfigValue('forms.validation.fullName.minLength')}}
                            to {{getConfigValue('forms.validation.fullName.maxLength')}}
                            characters
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group" style="margin-top: 10px;">
                    <label class="label" for="input-email">Email address:</label>
                    <input nbInput [(ngModel)]="user.username" #email="ngModel" id="input-email" name="username"
                        pattern=".+@.+..+" placeholder="Email address" fullWidth fieldSize="medium" shape="round"
                        [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                        [required]="getConfigValue('forms.validation.email.required')"
                        [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                    <ng-container *ngIf="email.invalid && email.touched">
                        <p class="caption status-danger" *ngIf="email.errors?.required">
                            Email is required!
                        </p>
                        <p class="caption status-danger" *ngIf="email.errors?.pattern">
                            Email should be the real one!
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group" style="margin-top: 10px;">
                    <label class="label" for="input-password">Password:</label>
                    <input nbInput [(ngModel)]="user.password" #password="ngModel" type="password" id="input-password"
                        name="password" placeholder="Password" fullWidth fieldSize="medium" shape="round"
                        [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                        [required]="getConfigValue('forms.validation.password.required')"
                        [minlength]="getConfigValue('forms.validation.password.minLength')"
                        [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                        [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                    <ng-container *ngIf="password.invalid && password.touched">
                        <p class="caption status-danger" *ngIf="password.errors?.required">
                            Password is required!
                        </p>
                        <p class="caption status-danger"
                            *ngIf="password.errors?.minlength || password.errors?.maxlength">
                            Password should contain
                            from {{ getConfigValue('forms.validation.password.minLength') }}
                            to {{ getConfigValue('forms.validation.password.maxLength') }}
                            characters
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group" style="margin-top: 10px;">
                    <label class="label" for="input-re-password">Repeat password:</label>
                    <input nbInput [(ngModel)]="user.confirmPassword" #rePass="ngModel" type="password"
                        id="input-re-password" name="rePass" placeholder="Confirm Password" fullWidth fieldSize="medium" shape="round"
                        [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : 'basic'"
                        [required]="getConfigValue('forms.validation.password.required')"
                        [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
                    <ng-container *ngIf="rePass.invalid && rePass.touched">
                        <p class="caption status-danger" *ngIf="rePass.errors?.required">
                            Password confirmation is required!
                        </p>
                        <p class="caption status-danger"
                            *ngIf="password.value != rePass.value && !rePass.errors?.required">
                            Password does not match the confirm password.
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')" style="margin-top: 10px;">
                    <nb-checkbox name="terms" [(ngModel)]="user.terms"
                        [required]="getConfigValue('forms.register.terms')">
                        Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
                    </nb-checkbox>
                </div>

                <button nbButton fullWidth status="primary" size="medium" shape="round" [disabled]="submitted || !form.valid"
                    [class.btn-pulse]="submitted" style="margin-top: 10px;">
                    Register
                </button>
            </form>

            <section class="another-action" aria-label="Sign in" style="text-align: center;margin-top: 10px;">
                Already have an account? <a class="text-link" routerLink="../login">Log in</a>
            </section>
        </div>
    </nb-layout-column>
</nb-layout>