<nb-layout>
    <nb-layout-header>Jeebly</nb-layout-header>
    <nb-layout-column class="colored-column-basic">Welcome</nb-layout-column>
    <nb-layout-footer>Created by Anurag</nb-layout-footer>
</nb-layout>