@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); // append the install mixin inside of the nb-install
};
/* You can add global styles to this file, and also import other style files */
.img-responsive{
  width: 100%;
}

.left-layout{
  background: #FFF;
}
.slider{
  background: #fff;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
._rad_crcl.sel {
  background: #00b2c6;
}
._rad_crcl{
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.title{
  font-size: 28px !important;
  text-align: center;
}